{% extends 'base/base.html.twig' %}

{% block javascripts %}
    {% for originalFilename, hashedFilename in manifest %}
        <script src="{{ hashedFilename }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
    <main>
        <div>hello world</div>
        {% include 'components/alert/alert.html.twig' with { type: 'danger', message: 'hello world' } %}
        {% include 'components/alert/alert.html.twig' with { type: 'success', message: 'hello world' } %}
        {% include 'components/alert/alert.html.twig' with { type: 'info', message: 'hello world' } %}
        {% include 'components/alert/alert.html.twig' with { type: 'warning', message: 'hello world' } %}

        {% include 'components/card/user_card.html.twig' %}
        {% include 'components/slideshow/slideshow.html.twig' %}
    </main>
{% endblock %}