{% extends 'components/card/card.html.twig' %}

{% block header %}
    <h1>User #12345</h1>
{% endblock %}

{% block body %}
    <h5>User # 12345</h5>
    <div>There is a user here. Hello world.</div>
{% endblock %}
